@use "variables" as *;

body{
  color: $main-color;
  font-size: $font-size;
}

.nav{
  ul{
    li{
      a{
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}

button{
  &:hover{
    opacity: 0.8;
  }
  &.active{
    background-color: $main-color;
  }
}